

<footer class="footer mt-auto">
    <div class="footer-meta">
        <div class="container">
            <div class="row">

                <div class="col-sm-12">
                    <p class="btn-row text-center">
                        <a href="#" class="btn btn-theme btn-icon-left facebook" style="border-radius: 50px;"><i class="fa fa-facebook"></i>FACEBOOK</a>
                        <a href="#" class="btn btn-theme btn-icon-left twitter" style="border-radius: 50px;"><i class="fa fa-twitter"></i>TWITTER</a>
                        <a href="#" class="btn btn-theme btn-icon-left pinterest" style="border-radius: 50px;"><i class="fa fa-pinterest"></i>PINTEREST</a>
                        <a href="#" class="btn btn-theme btn-icon-left google" style="border-radius: 50px;"><i class="fa fa-google"></i>GOOGLE</a>
                    </p>
                    <div class="copyright">&copy; 2015 Rent It — An One Page Rental Car Theme made with passion by jThemes Studio</div>
                </div>

            </div>
        </div>
    </div>
</footer>

<!-- <div class="container" style="height:30%;background-color:black"></div> -->