
<header class="header fixed sticky-top">
    <div class="header-wrapper">
        <div class="container">

            <!-- Logo -->
            <div class="logo">
                <a href=""><img src="/img/logo-rentit.png" alt="Rent It"/></a>
            </div>
            <!-- /Logo -->

            <!-- Navigation -->
            <nav class="navigation closed clearfix">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <!-- navigation menu -->
                        <a href="#" class="menu-toggle-close btn"><i class="fa fa-times"></i></a>
                        <ul class="nav sf-menu ">
                            <li><a href="/">Home</a></li>
                            <% if(currentUser){ %> 
                            <li ><a href="/car/addcars">Add Vehicles</a></li>
                            <% } %> 
                            <li><a href="/car/allcars">Vehicles</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <% if(currentUser){ %> 
                            <li><a href="/car/allcars/rentedcars">Your cars</a></li>
                            <% } %> 
                            <!-- <li><a href="faqs.html" >Register</a></li>
                            <li><a href="contact.html">Login</a></li> -->
                            <% if(currentUser){ %> 
                            <li><a href="/logout">Logout</a></li>
                            <% } %> 
                
                        </ul>
                        <!-- /navigation menu -->
                    </div>
                </div>
                <!-- Add Scroll Bar -->
                <div class="swiper-scrollbar"></div>
            </nav>
            <!-- /Navigation -->

        </div>
    </div>

</header>
