<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentcar</title>
    
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- CSS Global -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet">
    <link href="/plugins/owl-carousel2/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/plugins/owl-carousel2/assets/owl.theme.default.min.css" rel="stylesheet">
    <link href="/plugins/animate/animate.min.css" rel="stylesheet">
    <link href="/plugins/swiper/css/swiper.min.css" rel="stylesheet">

    <link href="/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/plugins/countdown/jquery.countdown.css" rel="stylesheet">
    <link href="/plugins/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/star.css">
   <!-- Google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@100;400&display=swap" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/theme.css" rel="stylesheet">

    <!-- Head Libs -->
    <script src="/plugins/modernizr.custom.js"></script>
</head>
<body>
    <body class="d-flex flex-column vh-100" >
        <%- include('../partials/navBar') %> 
        <main>
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="/plugins/superfish/js/superfish.min.js"></script>
<script src="/plugins/prettyphoto/js/jquery.prettyPhoto.js"></script>
<script src="/plugins/owl-carousel2/owl.carousel.min.js"></script>
<script src="/plugins/jquery.sticky.min.js"></script>
<script src="/plugins/jquery.easing.min.js"></script>
<script src="/plugins/jquery.smoothscroll.min.js"></script>
<!--<script src="assets/plugins/smooth-scrollbar.min.js"></script>-->
<script src="/plugins/swiper/js/swiper.jquery.min.js"></script>
<script src="/plugins/datetimepicker/js/moment-with-locales.min.js"></script>
<script src="/plugins/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>


<!-- JS Page Level -->
<script src="/js/theme-ajax-mail.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/validateForm.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    </body>
</body>
</html>