<% layout('views/layouts/boilerplate') %> 

<div class="row justify-content-evenly mt-3" >
    <div class="col-6 me-5">
        <h2 class="caption-subtitle" style="font-family: 'Raleway', sans-serif;font-size:72px;font-weight:900;line-height:1;color: black;margin:0 0 40px 0;">Find Your Car!<br/> Rent A Car Theme</h2>
        <p class="caption-text " style="color: #9ea6b1">
            Vivamus in est sit amet risus rutrum facilisis sed ut mauris. Aenean aliquam ex ut sem aliquet, eget vestibulum erat pharetra. Maecenas vel urna nulla. Mauris non risus pulvinar.
        </p>
        <p class="caption-text">
            <a class="btn btn-theme btn-theme-md" href="/car/allcars">See All Vehicles</a>
        </p>

    </div>
    <div class="form-search light col-4 ms-5" style="width:auto;">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="form-title">
                <i class="fa fa-globe"></i>
                <h2>Login...</h2>
            </div>
    
            <div class="row row-inputs">
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="form-group has-icon has-label">
                            <label for="validationCustomUsername" class="form-label">Username</label>
                            <input type="text" class="form-control" id="validationCustomUsername" placeholder="your username" name="username" required> 
                            <div class="invalid-feedback">
                                Enter valid username.
                              </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group has-icon has-label">
                            <label for="validationCustom01" class="form-label">Password</label>
                            <input type="password" class="form-control" id="myInput" placeholder="your password" name="password" required>
                            <input type="checkbox" class="mt-3" onclick="myFunction()"><span class="mt-3" style="margin-bottom: 50px;">Show Password</span>
                            <div class="invalid-feedback">
                                Enter valid password.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row row-submit" >
                <div class="container-fluid" >
                    <div class="inner" >
                        <button type="submit" id="formSearchSubmit2" class="btn btn-submit btn-theme pull-left btn-primary" type="submit">Login</button>
                        <i class="fa"></i>
                        <div class="pull-right"><span>Don't have account </span><span><a href="/register" style="font-weight: bold;">Create account</a></span></div>
                        
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myInput");
        if (x.type === "password") {
          x.type = "text";
        } else {
          x.type = "password";
        }
      }
</script>


