<% layout('views/layouts/boilerplate') %>
<div class="content-area">

    <section class="page-section breadcrumbs text-right mb-5">
        <div class="container">
            <div class="page-header" style="text-align: center;" >
                <h1>Car Requests</h1>
            </div>
            <ul class="breadcrumb ">
                <li><a href="/">Home</a></li>
                <li class="active">Car Requests</li>
            </ul>
        </div>
    </section>
    <div class="container text-center" style="margin-top: 50px;">
        <div class="row">
            <% arrOfUser.map((car)=>{ %>
                <div class="container col mb-4 d-flex justify-content-center">
                    <div class="card" style="width: 30rem;padding-bottom:10px">
                        <ul class="list-group list-group-flush push-left">
                            <li class="list-group-item">Customer requesting : <span style="font-weight: bold;">
                                    <%=car.userName%>
                                </span></li>
                        </ul>
                        <%if(car.image.length) {%>
                            <img src="<%=car.image[0].url%>" class="card-img-top" alt="..."
                                style="width:298.4px;height:210px">
                            <% }else {%>
                                <img class="card-img-top" alt=""
                                    src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/YelpCamp/lz8jjv2gyynjil7lswf4.png">
                                <% } %>
                                    <div class="card-body ">
                                        <h5 class="card-title" id="carName">
                                            <%=car.carname%>
                                        </h5>
                                    </div>
                                     
                                    <div class="card-body buttons text-start pt-0">
                                        <% if(car.isAlreadyAccepted){ %>
                                            <span style="color: green;font-weight:bold;font-size:large" >Car already accepted</span>
                                        <% }else{ %>
                                            <form action="/car/allcars/<%=car.Req_id%>/request?_method=PUT" method="post">
                                                <button class="btn btn-theme card-link"
                                                    style="height:auto;border-radius: 50px;">Accept</button>
                                            </form>
                                        <% } %>     
                                    </div>

                    </div>
                </div>
                <% }) %>
        </div>

    </div>
</div>